{% extends "base.html" %}

{% load static %}

{% block title %}Каталог{% endblock %}

{% block content %}
  <div class="container">
    <div class="header">
      <h1>Каталог</h1>
    </div>

    <div class="sort-block">
      <span class="sort-item">Сортировать по:</span>
      <a class="sort-item" href="?sort=name">названию</a>
      <a class="sort-item" href="?sort=min_price">начиная с дешёвых</a>
      <a class="sort-item" href="?sort=max_price">начиная с дорогих</a>
    </div>

    <div class="content">
      {% for phone in phones %}
        <div class="phone">
          <a href="{% url 'phone' phone.slug %}">
            <h3 class="phone-name">{{ phone.name }}</h3>
          </a>
          <div class="phone-price">Стоимость: {{ phone.price }} ₽</div>
          <img class="phone-image" src="{{ phone.image }}" alt="{{ phone.name }}"/>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block styles %}
<style>
    .container {
        font-family: Arial, sans-serif;
        margin: 20px auto;
        max-width: 1200px;
        padding: 20px;
    }

    .header {
        text-align: left;
        margin-bottom: 30px;
    }

    .sort-block {
        margin-bottom: 30px;
    }

    .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .phone {
        width: 300px;
        margin: 10px;
        border: 0px solid #ccc;
        padding: 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .phone-name {
        font-size: 28px;
        font-weight: normal;
        margin-bottom: 10px;
        color: #007bff;
    }

    .phone-price {
        font-size: 20px;
        margin-bottom: 10px;
        color: #333;
    }

    .phone-image {
        max-width: 90%;
        height: auto;
        margin-bottom: auto;
    }
</style>
{% endblock %}