{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>


      <div class="Book">
          <style>
        .book-item {
            width: 300px;
            margin: 20px;
            text-align: center;
            display: inline-block;
            vertical-align: top;
        }

        .book-item h2 {
            color: #007bff;
        }
          </style>

        {% for book in books %}
            <div class="book-item">
                <h2>{{ book.name }}</h2>
                <p>Автор: {{ book.author }}</p>
                <p>Дата публикации: {{ book.pub_date }}</p>
            </div>
        {% endfor %}
      </div>
    </div>
{% endblock %}